</div>
</div>
		</div>
		<br><br><br>
		<hr>
		<p class="text-center">&COPY; TashBabyStore </p>
		<small>All contents © Copyright Tash Baby Store. All Rights Reserved.</small>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js"></script>

	<script src="/assets/js/scripts.js"></script>

</body>
</html>
